- name: CI CD test playbook
  hosts: local
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install tree package (NOT present before)
      apt:
        name: tree
        state: present
